/01Login.png
/02Home1.png
/03HomeN1.png
/04HomeChamados.png
/05NovoChamadoInicial.png
/06AbrirChamadoPorTecnico.png
/07Chamado.png
/08NewTicket.png
/09Acompanhamento.png
/10ModeloSolucao.png
/11SolucaoChamado.png
/12TelaAprovacaoAutor.png
/13ReabrirChamado.png
/14DashboardTec.png
/15DashPainel.png
/markdowntohtml.html
/readme.html